.contenedor {
    padding: 10px 0px;
    margin: 20px;
}

.encabezado_lista_productos h2 {
    font-family: 'Exo', sans-serif;
    margin-left: 30px;
    font-size: 70px;
    color: #d25a1e;
    text-shadow: 1px 0px 2px #9b4909;
}

.encabezado_lista_productos p {
    font-family: 'Exo', sans-serif;
    margin-left: 30px;
    font-size: 30px;
    color: #273139;
    text-shadow: -1px 0px 0.5px #273139;
}

