.lista_carrito{
    height: 200px;
}

.lista_carrito p{
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.volver_a_tienda{
    margin-top: 20px;
    text-align: center;
}

.link_volver{
    color: #d25a1e;
    text-decoration: underline;
}