@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');


/* BARRA DE NAVEGACIÓN */
.navbar{
    display: flex;
    justify-content:space-evenly;
    background-color: #273139;
}


/* LOGO */

.logo img{
    width: 60px;
    margin: 12px 0px;
}


/* MENU */
.menu ul{
    display: flex;
    text-shadow: 0px 0px 0px #9b4909;
}

.menu_link  {
    padding: 20px 30px;
    margin-top: 3px;
}

.menu_link a {
    font-size: 20px;
    color: #d25a1e;
    font-weight: 600;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.menu_link a:hover,
.menu_link a:focus{
    background-size: 100% 2px;
}
    



/* MENU DESPLEGABLE */
.menu_link_button {
    text-shadow: 0px 0px 0px #9b4909;
    margin: 0px;
    background-color: transparent;
    color: #d25a1e;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin-top: 3px;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    background-color: #d25a1e;
    min-width: 160px;
    padding-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    font-size: 20px;
    color: #273139;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    color: #e0e0e0;
    text-shadow: 0px 0px 0px #9b4909;}

.dropdown:hover .dropdown-content {
    display: block;
}



/* CARRITO */

.carrito{
    text-shadow: 0px 0px 0px #9b4909;
    display: flex;
}
