.carrito{
    display: flex;
    padding: 20px 0px;
    margin-top: 6px;
}

.carrito_icon{
    color: #273139;
    font-size: 25px;
    margin-top: -2px;
}

.carrito_numero{
    color: #d25a1e;
    background-color: #273139;
    border-radius: 50px;
    margin: 0px 8px;
    padding: 2px 8px;
    font-weight: 600;
}

