.carrito{
    display: flex;
    padding: 20px 0px;
    margin-top: 6px;
}

.carrito_icon{
    color: #d25a1e;
    font-size: 30px;
    margin: 0px -7px;
}

.carrito_numero{
    color: #273139;
    background-color: #d25a1e;
    border-radius: 100px;
    margin: 8px 10px;
    padding: 1px 8px;
    font-weight: 900;
}

